.boton{ display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white; 
    background-color: #dd68b2;
    text-align: center;
    text-decoration: none; 
    border-radius: 25px; 
   
}
body{
    font-family: Arial, Helvetica, sans-serif;

}

.float{
    float:right;
}

.presentacion{
    display:flex;
    justify-content: space-between;
    background-image: url(https://us.123rf.com/450wm/ekaterinamolchanova/ekaterinamolchanova1710/ekaterinamolchanova171000096/88180542-s%C3%B3lido-fondo-plano-endeble-de-color-rosa-claro-vista-superior-endecha-plana-horizontal-formato.jpg)
}
main{
    max-width: 700px;
    margin: auto;
    text-align: center;

}

.fondo-sector {
    background-image: url(fondo.avif); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    padding: 50px;
    color: white; 
}


.imagenes{

    align-items: center;
    justify-content: center;
    display: flex;
}          

.texto-negro{
    color: black;
    text-shadow: 0px 0px 2px white;

}
.border{
    border: 5px solid black;
}


