.boton{ display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white; 
    background-color: #dd68b2;
    text-align: center;
    text-decoration: none; 
    border-radius: 25px; 
   
}
body{
    font-family: Arial, Helvetica, sans-serif;

}

.float{
    float:right;
}

.presentacion{
    display:flex;
    justify-content: space-between;
    background-image: url(https://us.123rf.com/450wm/ekaterinamolchanova/ekaterinamolchanova1710/ekaterinamolchanova171000096/88180542-s%C3%B3lido-fondo-plano-endeble-de-color-rosa-claro-vista-superior-endecha-plana-horizontal-formato.jpg)
}
main{
    max-width: 700px;
    margin: auto;
    text-align: center;

}

.fondo-sector {
    background-image: url(https://cdn0.bodas.net/article/3813/3_2/1280/jpg/63183-1.jpeg); /* URL de la imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    padding: 50px; /* Ajusta el espacio interno según sea necesario */
    color: white; /* Color del texto dentro del sector */
}


.imagenes{

    align-items: center;
    justify-content: center;
    display: flex;
}          

.texto-negro{
    color: black;

}
.border{
    border: 5px solid black;
}